// fP10 

// TYPEFACE
@mixin hero-fonts {
//---
    h1 {
        @include headtype;
        font-size: 4.85em;
        color: $colWhite;
    }
    h2 {
        color: $colParrotGreen;
    }
    //-800-
    @media (max-width: 50.000em) {
        h1 {font-size: 4em;}
    }
    //-400-
    @media (max-width: 25.000em) {
        h1 {font-size: 2.45em;}
    }    
//---
}

// STRUCTURE

h1,h2,h3,h4 {color: $colGreen;}
.container {color: $colText;}

.hero-content {
	background: rgba(33, 44, 50, 0.9);
.hero-text {
	@include hero-fonts;
	padding-top: 14em;
	position: relative;
	margin: auto;
	width: 80%;
	max-width: 37.500em;
	}
}

.home-content {
	h1 {text-transform: uppercase;}
}

.back-green {
	background: rgba(43, 57, 64, 1);
}





