// _fx.scss


// BUTTONS

.btn-normal {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ee4d67;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border: solid  #ee4d67 2px;
  text-decoration: none;
  display: inline-block;
}

.btn-normal:hover {
  background: #ee4d67;
  text-decoration: none;
  color: #ab2959;
}

// <<--

// PAD-SHADOW

.pad-sdw {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: 6.250em;
  background-color: $colMilkWhite;
  padding: 2.5em;
  margin-bottom: 2.5em;
}
/*400*/
@media (max-width: 25.000em) {
  .pad-sdw {padding: 1.250em;}
}
.pad-sdw:after {
  content:"";
  display: block;
  height: 2.5em;
  width: 80%;
  box-shadow: 0 0.112em 4.125em $colGreyT, 0 0.1125em 4.125em $colMilkWhiteT ;
  position: absolute;
  bottom: 0;
  left: 10%;
  z-index: -1;
}

// PAD-SHADOW-WHITE

.pad-sdw-white {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: 6.250em;
  background-color: $colWhite;
  padding: 2.5em;
  margin-bottom: 2.5em;
  border: 0.0625em solid $colMilkWhite;
}
/*400*/
@media (max-width: 25.000em) {
  .pad-sdw-white {padding: 1.250em;}
}
.pad-sdw-white:after {
  content:"";
  display: block;
  height: 2.5em;
  width: 60%;
  box-shadow: 0 0.112em 4.125em $colGreyT, 0 0.1125em 4.125em $colGreyT ;
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: -1;
}


// PAD GLASS DARK

.pad-glss-drk {
  position: relative;
  width: 100%;
  min-height: 6.250em;
  background-color: rgba(18, 25, 35, 0.66);
  padding: 2.5em;
  margin-bottom: 2.5em;
}
/*400*/
@media (max-width: 25.000em) {
  .pad-glss-drk {padding: 1.250em;}
}

