// Colours


// Colour for text
$colText: rgba(43, 57, 64, 1);






/*BLACK*/
$colBlack: rgba(0, 0, 0, 1);
$colBlackT: rgba(0, 0, 0, 0.77);
$colBlackTL: rgba(0, 0, 0, 0.09);

/*GREY*/
$colGrey: rgba(169, 169, 169, 1);
$colGreyT: rgba(169, 169, 169, 0.77);
$colGreyTL: rgba(169, 169, 169, 0.09);

/*WHITE*/
$colWhite: rgba(255, 255, 255, 1);
$colWhiteT: rgba(255, 255, 255, 0.77);
$colWhiteTL: rgba(255, 255, 255, 0.09); 

//---


	/*RED*/

//Red
$colRed: rgba(192, 57, 43, 1);
$colRedT: rgba(192, 57, 43, 0.77);
$colRedTL: rgba(192, 57, 43, 0.09);

//RoyalRed
$colRoyalRed: rgba(190, 24, 59, 1);
$colRoyalRedT: rgba(190, 24, 59, 0.77);
$colRoyalRedTL: rgba(190, 24, 59, 0.09);

//PinkRed
$colPinkRed: rgba(238, 77, 103, 1);
$colPinkRedT: rgba(238, 77, 103, 0.77);
$colPinkRedTL: rgba(238, 77, 103, 0.09);


	/*ORANGE*/

//Orange
$colOrange: rgba(244, 160, 0, 1);
$colOrangeT: rgba(244, 160, 0, 0.77);
$colOrange: rgba(244, 160, 0, 0.09);



	/*YELLOW*/

//Yellow
$colYellow: rgba(238, 201, 20, 1);
$colYellowT: rgba(238, 201, 20, 0.77);
$colYellowTL: rgba(238, 201, 20, 0.09);


	/*GREEN*/

//Green
$colGreen: rgba(22, 160, 134, 1);
$colGreenT: rgba(22, 160, 134, 0.77);
$colGreenTL: rgba(22, 160, 134, 0.09);

//ParrotGreen
$colParrotGreen: rgba(0, 235, 127, 1);
$colParrotGreenT: rgba(0, 235, 127, 0.77);
$colParrotGreenTL: rgba(0, 235, 127, 0.09);

//ForestGreen
$colForestGreen: rgba(13, 145, 161, 1);
$colForestGreenT: rgba(13, 145, 161, 0.77);
$colForestGreenTL: rgba(13, 145, 161, 0.09);

//GlowGreen
$colGlowGreen: rgba(113, 249, 193, 1);
$colGlowGreenT: rgba(113, 249, 193, 0.77);
$colGlowGreenTL: rgba(113, 249, 193, 0.09);

//MonsoonGreen
$colMonsoonGreen: rgba(61, 217, 186, 1);
$colMonsoonGreenT: rgba(61, 217, 186, 0.77);
$colMonsoonGreenTL: rgba(61, 217, 186, 0.09);



	/*BLUE*/

//Blue
$colBlue: rgba(39, 182, 247, 1);
$colBlueT: rgba(39, 182, 247, 0.77);
$colBlueTL: rgba(39, 182, 247, 0.09);

//DeepBlue
$colDeepBlue: rgba(25, 57, 129, 1);
$colDeepBlueT: rgba(25, 57, 129, 0.77);
$colDeepBlueTL: rgba(25, 57, 129, 0.09);

//BrightBlue
$colBrightBlue: rgba(0, 170, 255, 1);
$colBrightBlueT: rgba(0, 170, 255, 0.77);
$colBrightBlueTL: rgba(0, 170, 255, 0.09);



	/*INDIGO*/

//Indigo
$colIndigo: rgba(10, 34, 122, 1);
$colIndigoT: rgba(10, 34, 122, 0.77);
$colIndigoTL: rgba(10, 34, 122, 0.09);

//DeepIndigo
$colDeepIndigo: rgba(17, 49, 86, 1);
$colDeepIndigoT: rgba(17, 49, 86, 0.77);
$colDeepIndigoTL: rgba(17, 49, 86, 0.09);

//WhaleIndigo
$colWhaleIndigo: rgba(23, 99, 160, 1);
$colWhaleIndigoT: rgba(23, 99, 160, 0.77);
$colWhaleIndigoTL: rgba(23, 99, 160, 0.09);



	/*VIOLET*/

//Violet
$colViolet: rgba(85, 57, 130, 1);
$colVioletT: rgba(85, 57, 130, 0.77);
$colVioletTL: rgba(85, 57, 130, 0.09);
